<div class="container">
    <div class="row align-items-center py-3">
      <div class="col-md-3 text-center">
        <img src="assets/logo1-butaca-critica.png" alt="La Butaca Crítica" class="img-fluid logo">
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar películas">
          <!--input [(ngModel)]="searchQuery" type="text" class="form-control" placeholder="Buscar películas"-->
          <!--button class="btn btn-primary" (click)="searchMovies()">Buscar</button-->
        </div>
      </div>
      <div class="col-md-2 text-end">
        <img src="assets/user-profile.png" alt="Perfil del usuario" class="rounded-circle" style="width: 50px; height: 50px;">
      </div>
    </div>