<div class="review-list container mt-4">


  <h3 class="mt-4">Agrega tu reseña</h3>

  <div class="star-rating mb-3">
    <span *ngFor="let star of [1, 2, 3, 4, 5]" 
          (click)="setStarRating(star)" 
          class="star" 
          [class.selected]="star * 2 <= starRating">
      ★
    </span>
    <span class="ms-2">Calificación: {{ starRating }} / 10</span>
  </div>

  <textarea [(ngModel)]="newReview.description" class="form-control mb-3" placeholder="Escribe tu reseña aquí..."></textarea>
  <button (click)="addReview()" class="btn btn-success">Agregar reseña</button>
  
  <h3>Reseñas</h3>

  <div *ngFor="let review of reviews" class="review-item card mb-3 p-3 shadow-sm">
    <div class="review-header d-flex align-items-center mb-2">
      <span class="user-id badge bg-primary me-2">Usuario ID: {{ review.idProfile }}</span>
      <span class="review-score ms-auto"><strong>Calificación:</strong> {{ review.score }} / 10</span>
    </div>
    <p class="review-description">{{ review.description }}</p>
  </div>

</div>
