
<form [formGroup]="form" (ngSubmit)="onSignup()" class="signup-form">
    <fieldset>
        <legend>Registrarse</legend>
        <input type="text" placeholder="Username" formControlName="username" />
        <input type="password" placeholder="Password" formControlName="password" />
        <input type="date" placeholder="Fecha de nacimiento" formControlName="date" />
        <input type="tel" placeholder="Celular" formControlName="cel" />
        <input type="email" placeholder="Email" formControlName="email" />
        <button type="submit">Enviar</button>
    </fieldset>
</form>
